stages:
  - build
  - code-quality
  - staging  

services:
  - name: nexus:5005/docker:29.2.0-dind
    alias: docker
    command: [
      "--tls=false",
      "--insecure-registry=nexus:5005"
    ]

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_CERT_PATH: ""
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: ${CI_REGISTRY}/${CI_PROJECT_NAME}:${CI_PIPELINE_ID}
  IMAGE_BUILD: ${CI_REGISTRY}/ci-cd/docker-base-images/builder/rust:0.1
  NAMESPACE: ${CI_PROJECT_NAMESPACE}-${CI_ENVIRONMENT_NAME}

default:
  before_script: |
    echo -e "CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME"
    echo -e "CI_COMMIT_TAG: $CI_COMMIT_TAG"
    echo -e "CI_PROJECT_DIR: $CI_PROJECT_DIR"

build:
  stage: build
  image: $IMAGE_BUILD
  artifacts:
    when: on_success
    paths:
      - .binaries
  tags:
    - docker
  script: |
    echo "---> Building project..."
    chmod +x .cicd/execute-build.sh && .cicd/execute-build.sh

build-scratch-image:
  stage: build
  needs: ["build"] 
  artifacts:
    when: always
    paths:
      - .binaries 
  dependencies:
    - build
  tags:
    - docker
  script: |
    echo "---> Building Image from Scratch..."
    docker build --no-cache --pull -t $IMAGE_TAG -f Dockerfile-scratch .
    docker push $IMAGE_TAG

build-alpine-image:
  stage: build
  when: manual
  needs: ["build"]
  artifacts:
    when: always
    paths:
      - .binaries 
  dependencies:
    - build
  tags:
    - docker
  script: |
    echo "---> Building Image from Alpine..."
    docker build --no-cache --pull -t $IMAGE_TAG -f Dockerfile-alpine .
    docker push $IMAGE_TAG

test:
  stage: code-quality
  image: $IMAGE_BUILD
  allow_failure: true
  artifacts:
    when: on_success
    paths:
      - .reports
  tags:
    - docker
  needs: ["build"]
  script: |
    echo "---> Testing project..."
    chmod +x .cicd/execute-tests.sh && .cicd/execute-tests.sh

deploy:
  stage: staging
  image: $IMAGE_BUILD
  allow_failure: false
  tags:
    - docker
  needs: ["build"]
  script: |
    chmod +x .cicd/execute-deploy.sh && .cicd/execute-deploy.sh

workflow:
  rules:
    - if: $CI_COMMIT_TAG
