### JetBrains+all ###
.idea/

### Target files ####
/target
.binaries/

### Act Resource Files ###
.actrc
.actrc.json
.artifacts
.release-artifacts
.secrets

### env files ###
.env
.env.local
.env.development
.env.test
.env.production