global:
  scrape_interval:     5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'prometheus:9090' ]
  - job_name: 'tempo'
    static_configs:
      - targets: [ 'tempo:3200' ]
  - job_name: 'rust-server-api'
    metrics_path: '/metrics'
    honor_labels: true
    static_configs:
      - targets: ['host.docker.internal:7188']
