authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = gitlab.server
DNS.2 = registry.gitlab.server
DNS.3 = gitlab
IP.1 = 127.0.0.1
IP.2 = 172.17.0.1
IP.3 = 172.18.0.2

