name: Rust Microservices Pipeline

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] #[ubuntu-latest, macOS-latest, windows-latest]
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          # - os: macOS-latest
          #   target: x86_64-apple-darwin
          # - os: windows-latest
          #   target: x86_64-pc-windows-msvc

    steps:
      - name: Validate tag name
        env:
          RELEASE_NAME: ${{ github.ref_name }}
          REGEX_PATTERN: "^v[0-9]+\\.[0-9]+\\.[0-9]+$"
        shell: bash
        run: |
          echo "ℹ️ Validating tag name..."
          if [[ "${RELEASE_NAME}" =~ ${REGEX_PATTERN} ]]; then
            echo "✅ Tag name is valid: ${RELEASE_NAME}"
          else
            echo "❌ Invalid tag name: ${RELEASE_NAME}"
            exit 1
          fi

      # Setup the Rust toolchain
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          target: ${{ matrix.target }}

      # Checkout the code
      - uses: actions/checkout@v6

      # Configure Rust for cross-compilation
      - name: Setup Rust Target
        run: |
          echo "ℹ️ Setting up Rust target for OS: ${{ matrix.os }} Target: ${{ matrix.target }}..."
          rustup target add ${{ matrix.target }}

      # Install musl for Linux targets to enable static linking
      - name: Install musl
        run: |
          echo "ℹ️ Installing musl for ${{ matrix.os }}..."
          sudo apt update
          sudo apt -y install musl-tools
        if: contains(matrix.target, 'linux-musl')        

      # Install UPX for binary compression
      - name: Install UPX
        run: |
          echo "ℹ️ Installing UPX for ${{ matrix.os }}..."
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            sudo apt update
            sudo apt -y install upx-ucl
          elif [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            choco install upx
          elif [[ "${{ matrix.os }}" == "macOS-latest" ]]; then
            brew install upx
          fi

      - name: Build Example Server
        run: |
          echo "ℹ️ Running cargo build for package 'server'..."
          cargo build -p server --release --target x86_64-unknown-linux-musl
          echo "✅ Server build completed successfully."

      # Compress the server example binary using UPX
      - name: Compress binary
        run: |
          echo "ℹ️ Compressing binary..."
          upx --best --lzma --brute ./target/${{ matrix.target }}/release/server
          echo "✅ Binary compression completed successfully."
      
      # - name: Build Rust Microservices
      #   run: cargo build --verbose --release --all-features